.features {
  padding: 5rem 2rem;
  text-align: center;

  h2 {
    margin-bottom: 2rem;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .feature-card {
    width: 280px;
    padding: 1.5rem;
    text-align: center;

    mat-icon {
      font-size: 40px;
      color: #d26f19;
      margin-bottom: 1rem;
    }
  }
}
